.header_login {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d)
}

.header-login__navbar {
    display: flex;
    justify-content: space-between;
}

.header-login__navbar-search {
    display: flex;
    align-items: center;
    height: var(--header-with-search-heigh);
    margin: 0 8px;
}

.header-login__logo {
    width: 185px;
    padding-top: 25px;
}

.header-login__logo-link {
    width: 185px;
    padding-top: 20px;
}

.header-login__logo--img {
    width: 150px;
    color: white;
}